<div data-register-carousel="" class="carousel flickity-enabled" tabindex="0">
    <div class="flickity-viewport" style="height: 230px; touch-action: pan-y;">
       <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
          <div class="carousel-cell is-selected" style="position: absolute; left: 0%;">
             <input name="last_name" type="text" class="input input--full input-text" placeholder="Votre nom">
             <div class="account-popup__button">
                <button data-register-carousel-next="" class="button button--popup button--auto">Valider</button>
             </div>
             <p class="account-popup__register-previous">
                1/5
             </p>
          </div>
          <div class="carousel-cell" style="position: absolute; left: 100%;" aria-hidden="true">
             <input name="first_name" type="text" class="input input--full input-text" placeholder="Votre prénom">
             <div class="account-popup__button">
                <button data-register-carousel-next="" class="button button--popup button--auto">Valider</button>
             </div>
             <p data-register-carousel-previous="" class="account-popup__register-previous">
                2/5
                <img src="https://cdn.shopify.com/s/files/1/0407/2855/9766/files/Path_3-1.svg?v=1596340494" alt="side navigation arrow">
             </p>
          </div>
          <div class="carousel-cell" style="position: absolute; left: 200%;" aria-hidden="true">
             <div class="account-popup__subtitle text t-4">
                Date de naissance
             </div>
             <input data-register-date="" name="birthdate" type="date" min="1922-12-31" max="2022-12-31" class="input input--full input-text unstyled" placeholder="Date de naissance">
             <div class="account-popup__button">
                <button data-register-carousel-next="" class="button button--popup button--auto">Valider</button>
             </div>
             <p data-register-carousel-previous="" class="account-popup__register-previous">
                3/5
                <img src="https://cdn.shopify.com/s/files/1/0407/2855/9766/files/Path_3-1.svg?v=1596340494" alt="side navigation arrow">
             </p>
          </div>
          <div class="carousel-cell" aria-hidden="true" style="position: absolute; left: 300%;">
             <div class="input__container">
                <input data-register-password="" title="Doit contenir au moins une majuscule, une minuscule, un chiffre, et 8 charactères" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" type="password" class="input input--full input-text" placeholder="Votre mot de passe">
                <img data-toggle-password="" class="pointer" src="https://cdn.shopify.com/s/files/1/0407/2855/9766/files/Group_3.png?v=1596804687" alt="password">
             </div>
             <div class="account-popup__button">
                <button data-register-button="" disabled="" class="button button--popup button--auto button--disabled">Valider</button>
             </div>
             <p data-register-carousel-previous="" class="account-popup__register-previous">
                4/5
                <img src="https://cdn.shopify.com/s/files/1/0407/2855/9766/files/Path_3-1.svg?v=1596340494" alt="side navigation arrow">
             </p>
          </div>
       </div>
    </div>
</div>
