{{? it.isPopover }}
<div class="container popover" style="display: none">
    {{?? true }}
    <div class="container js-modal" style="display: none">
        {{?}}
        <div class="content">
            <div class="loading" style="display: none">
                <div class="loading-icon"></div>
            </div>
            <div class="js-toggle-dashboard">Edit</div>
            <div class="btn-close js-close">+</div>
            {{#def.landing }} {{#def.register }} {{#def.signin}}
        </div>
    </div>
</div>
