<div class="container {{layout}}" style="display: none">
    <div class="content">
        <div class="loading" style="display: none">
            <div class="loading-icon"></div>
        </div>
        <div class="btn-close js-close">+</div>
        <img class="form-image" />
        <div class="landing" style="display: none">{{> landing}} </div>
        <div class="register" style="display: none">{{> register}} </div>
        <div class="activate" style="display: none">{{> activate}} </div>
        <div class="signin" style="display: none">{{> signin}} </div>
        <div class="recovery" style="display: none">{{> recovery}} </div>
        <div class="js-shopify-response" style="display: none"></div>
        </div>
    </div>
</div>
