<h2>Dashboard</h2>
{{#def.container}}
<form action="" style="width: 28%">
    <textarea
        class="js-json-code"
        style="width: 100%; max-width: 100%; height: 50vh"
    ></textarea>
    <input
        type="button"
        class="btn btn-primary js-load-json"
        value="load json from textarea"
    />
    <hr />
    <hr />
    <div class="js-load-json-theme">
        <h3>Load conf with a fetch request</h3>
        <input
            type="button"
            class="btn btn-primary"
            value="franklin"
            style="margin: 10px 0"
        />
        <input
            type="button"
            class="btn btn-primary"
            value="balzac"
            style="margin: 10px 0"
        />
        <input
            type="button"
            class="btn btn-primary"
            value="respire"
            style="margin: 10px 0"
        />
    </div>
</form>
