<div class="title">{{createAccount}}</div>
<div class="sub-title text t-4">{{fillInfoToCreateAccount}}</div>

<form
    method="POST"
    accept-charset="UTF-8"
    novalidate="novalidate"
    class="{{formStyle}}"
    blocks_order="{{blocks_order}}"
>
    <input type="hidden" name="return_to" value="{{redirectAfterRegister}}" />
    <input type="hidden" name="customer[tags]" value="" />

    <input type="hidden" name="form_type" value="create_customer" /><input
        type="hidden"
        name="utf8"
        value="✓"
    />

    {{#inputBlocks}}
    <div block-id="{{id}}">
        <input
            required
            type="text"
            class="input-text"
            name="{{name}}"
            placeholder="{{placeholder}}"
        />
        <label>{{placeholder}}</label>
        {{#error}}
        <label class="label-error"
            ><i class="fa {{errorIcon}}"></i>{{error}}
        </label>
        {{/error}}
    </div>
    {{/inputBlocks}}

    <!-- loop TODO remove hasChoice or choice-block -->
    {{#choiceBlocks}}
    <div
        block-id="{{id}}"
        class="choice-block single-choice {{#hasMultiLine}}multi-line{{/hasMultiLine }}"
    >
        {{#choiceList }}
        <div>
            <input
                type="checkbox"
                value="{{.}}"
                data-is-tag="{{isTag}}"
                data-tag="{{tag}}"
                data-namespace="{{namespace}}"
                data-key="{{key}}"
            />
            <label>{{.}}</label>
        </div>
        {{/choiceList}}
    </div>
    {{/choiceBlocks}}

    <!--date blocks-->

    {{#dateBlocks}}
    <div block-id="{{id}}">
        <input
            class="input-text js-date"
            required
            type="text"
            data-is-tag="{{isTag}}"
            date-min="{{dateMin}}"
            date-max="{{dateMax}}"
            placeholder="{{placeholder}}"
            data-tag="{{tag}}"
            data-namespace="{{namespace}}"
            data-key="{{key}}"
        />
        <label>{{placeholder}}</label>
        {{#error}}
        <label class="label-error"
            ><i class="fa {{errorIcon}}"></i>{{error}}
        </label>
        {{/error}}
    </div>
    {{/dateBlocks}}

    <!-- !loop -->

    <!-- Subscribe newsletter checkbox -->
    {{#hasNewsletter }}
    <div class="hasNewsletter">
        <div>
            <input type="hidden" name="customer[accepts_marketing]" value="" />
            <input type="checkbox" name="customer[accepts_marketing]" />
            {{subscribeNewsletter}}
        </div>
    </div>
    {{/hasNewsletter }}

    <button class="btn btn-primary" disabled="">
        {{registerAccount}} &nbsp;<i class="fa fa-spinner fa-spin off"></i>
    </button>
</form>
<div class="action js-back"><i class="fa fa-arrow-left"></i> Back</div>
