<div class="carousel">
    <div>
        <input
            name="last_name"
            type="text"
            class="input-text"
            placeholder="Votre nom"
        />
        <div class="btn btn-primary mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div class="cursor">1/5</div>
    </div>
    <div style="left: 100%">
        <input
            name="first_name"
            type="text"
            class="input-text"
            placeholder="Votre Prenome"
        />
        <div class="btn btn-primary mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div>
            <div class="cursor-prev js-prev">&#12296;</div>
            <div class="cursor">2/5</div>
        </div>
    </div>
    <div style="left: 200%">
        Date de naissance
        <input
            name="birthdate"
            type="text"
            class="input-text"
            placeholder="dd/mm/yyyy"
        />
        <div class="btn btn-primary mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div>
            <div class="cursor-prev js-prev">&#12296;</div>
            <div class="cursor">3/5</div>
        </div>
    </div>
    <div style="left: 300%">
        <input
            name="password"
            type="text"
            class="input-text"
            placeholder="Votre mot de pass"
        />
        <input type="submit" class="btn btn-primary mt-1 mb-1 js-next" disabled="">
            Valider
        </button>
        <div>
            <div class="cursor-prev js-prev">&#12296;</div>
            <div class="cursor">4/5</div>
        </div>
    </div>
</div>
