<input
    type="hidden"
    name="customer[tags]"
    value="field1_prefix field1_value, field2_prefix field2_value"
/>

<input type="hidden" name="form_type" value="create_customer" /><input
    type="hidden"
    name="utf8"
    value="✓"
/>

<!-- Choice List by TAG -->
{{? (it.hasTag || it.choiceList || it.choiceTag) && !it.hasMetafield }}
<!-- loop -->
<div class="choice-block {{?it.hasMultiLine }}multi-line{{??true}} {{?}}">
    {{~it.choiceList :value:index}}
    <div>
        <input
            type="checkbox"
            name="customer[{{=it.choiceTag}}]"
            value="{{=it.choiceTag}}_{{=value}}"
        />
        <label>{{=value}}</label>
    </div>
    {{~}}
</div>
{{?? true }}{{?}}

<!-- Choice List by METAFIELD -->
{{? (it.hasMetafield || it.metaChoices) && !it.hasTag}}
<!-- loop -->
{{~it.metaChoices :value:index}}
<div>
    <input
        type="text"
        class="input-text"
        key="{{=value.key}}"
        placeholder="{{=value.value}}"
    />
    <label> {{=value.value}} </label>
</div>
{{~}} {{?? true }}{{?}}

<!-- FirstName field -->
{{? it.hasFirstName }}
<div class="hasFirstName">
    <input
        type="text"
        class="input-text"
        name="customer[first_name]"
        placeholder="{{=it.yourFirstName}}"
    />
    <label>{{=it.yourFirstName}}</label>
</div>
{{?? true }}{{?}}

<!-- LastName field -->
{{? it.hasLastName }}
<div class="hasLastName">
    <input
        type="text"
        class="input-text"
        name="customer[last_name]"
        placeholder="{{=it.yourLastName}}"
    />
    <label>{{=it.yourLastName}}</label>
</div>
{{?? true }}{{?}}

<!-- Telephone field -->
{{? it.hasTelephone }}
<div class="hasTelephone">
    <input
        type="text"
        class="input-text"
        name="telephone"
        placeholder="{{=it.yourTelephone}}"
    />
    <label>{{=it.yourTelephone}}</label>
</div>
{{?? true }}{{?}}

<!-- Email field -->
<div class="hasEmail">
    <input
        type="email"
        placeholder="{{=it.yourEmail}}"
        name="customer[email]"
        class="input-text"
    />
    <label>{{=it.yourEmail}}</label>
</div>

<!-- Password field -->
<div class="hasPassword">
    <div class="eye-icon js-show-psw"></div>
    <input
        type="password"
        name="customer[password]"
        class="input-text"
        placeholder="{{=it.yourPassword}}"
    />
    <label>{{=it.yourPassword}}</label>
</div>

<!-- Password confirmation field -->
{{? it.hasPasswordConfirmation }}
<div>
    <input
        class="input-text"
        name="confirmPassword"
        placeholder="{{=it.confirmYourPassword}}"
        type="password"
    />
    <label>{{=it.confirmYourPassword}}</label>
</div>
{{?? true }}{{?}}

<!-- TODO to simplify -->
{{? it.hasBirthDate }}
<div class="birth-date hasBirthdate">
    <div class="birth-date-text">Date de naissance</div>
    <input
        placeholder="jj"
        class="input-text input__birth"
        data-register-day=""
        type="number"
        min="01"
        max="31"
    />
    <input
        placeholder="mm"
        class="input-text input__birth"
        data-register-month=""
        type="number"
        min="01"
        max="12"
    />
    <input
        placeholder="aaaa"
        class="input-text input__birth"
        data-register-year=""
        type="number"
        min="1900"
        max="2020"
    />
</div>
{{?? true }}{{?}}

<!-- Create account button -->
<p class="text-center hasSubmit">
    <input
        class="btn btn-primary"
        disabled=""
        type="submit"
        value="{{=it.createAccount}}"
    />
</p>

<!-- Subscribe newsletter checkbox -->
{{? it.hasNewsLetter }}
<div class="checkbox-container hasNewsletter">
    <input
        class="checkbox"
        data-register-newscheck=""
        name="acceptsMarketing"
        type="checkbox"
    />
    <div class="text t-5 uppercase pointer" data-register-newstext="">
        {{=it.subscribeNewsletter}}
    </div>
</div>
{{?? true }}{{?}}
