<div class="carousel" style="width: 100%">
    <input
        type="email"
        placeholder="{{=it.yourEmail}}"
        name="customer[email]"
        class="input-text"
        autocorrect="off"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
    />
    <div>
        <input
            type="text"
            class="input-text"
            name="customer[last_name]"
            placeholder="{{=it.yourLastName}}"
            autocomplete="family-name"
        />
        <div class="btn btn-primary btn-small mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div class="mt-2">
            <div>1/5</div>
        </div>
    </div>
    <div style="left: 100%">
        <input
            type="text"
            class="input-text"
            name="customer[first_name]"
            placeholder="{{=it.yourFirstName}}"
            autocomplete="given-name"
        />
        <div class="btn btn-primary btn-small mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div class="mt-2">
            <div class="cursor-prev js-prev">&#12296;</div>
            <div>2/5</div>
        </div>
    </div>
    <div style="left: 200%">
        Date de naissance
        <input
            name="birthdate"
            type="text"
            class="input-text"
            placeholder="dd/mm/yyyy"
        />
        <div class="btn btn-primary btn-small mt-1 mb-1 js-next" disabled="">
            Valider
        </div>
        <div class="mt-2">
            <div class="cursor-prev js-prev">&#12296;</div>
            <div>3/5</div>
        </div>
    </div>
    <div style="left: 300%">
        <input
            type="password"
            name="customer[password]"
            class="input-text"
            aria-required="true"
            placeholder="{{=it.yourPassword}}"
        />
        <input
            class="btn btn-primary"
            disabled=""
            type="submit"
            value="{{=it.createAccount}}"
        />
        <div class="mt-2">
            <div class="cursor-prev js-prev">&#12296;</div>
            <div>4/5</div>
        </div>
    </div>
</div>
