<img class="image" />
<div class="title">{{=it.createAccount}}</div>
<div class="subtitle text t-4">{{=it.fillInfoToCreateAccount}}</div>
<div class="js-error error">
    <div class="error js-psw-wrong">{{=it.incorrectEmailOrPassword}}</div>
</div>
<form
    method="post"
    id="RegisterForm"
    accept-charset="UTF-8"
    novalidate="novalidate"
    class="{{=it.formStyle}}"
>
    <input
        type="hidden"
        name="return_to"
        value="{{=it.redirectAfterRegister}}"
    />
    {{? it.hasCarousel }} {{#def.registerWithSlides }} {{?? true }}
    {{#def.registerNoSlides }} {{?}}
</form>
