<div class="title">{{createAccount}}</div>
<div class="sub-title text t-4">{{fillInfoToCreateAccount}}</div>

<form
    method="post"
    accept-charset="UTF-8"
    novalidate="novalidate"
    class="{{formStyle}}"
    blocks_order="{{blocks_order}}"
>
    <input
        type="hidden"
        name="return_to"
        value="{{redirectAfterRegister ||
    '/'}}"
    />
    <input type="hidden" name="customer[tags]" value="" />

    <input type="hidden" name="form_type" value="create_customer" /><input
        type="hidden"
        name="utf8"
        value="✓"
    />

    {{#inputBlocks}}
    <div block-id="{{id}}">
        <input
            required
            type="text"
            class="input-text"
            name="{{name}}"
            placeholder="{{placeholder}}"
        />
        <label>{{placeholder}}</label>
        {{#error}}
        <label class="label-error"
            ><i class="fa {{errorIcon}}"></i>{{error}}
        </label>
        {{/error}}
    </div>
    {{/inputBlocks}}

    <!--date blocks-->

    {{#dateBlocks}}
    <div block-id="{{id}}">
        <input
            class="input-text js-date"
            required
            type="text"
            data-is-tag="{{isBirthTag}}"
            date-min="{{birthMin}}"
            date-max="{{birthMax}}"
            placeholder="{{placeholder}}"
            data-tag="{{birthTag}}"
            data-namespace="{{birthNamespace}}"
            data-key="{{birthKey}}"
        />
        <label>{{placeholder}}</label>
        {{#error}}
        <label class="label-error"
            ><i class="fa {{errorIcon}}"></i>{{error}}
        </label>
        {{/error}}
    </div>
    {{/dateBlocks}}

    <!-- loop TODO remove hasChoice or choice-block -->
    {{#choiceBlocks}}
    <div
        block-id="{{id}}"
        class="choice-block single-choice {{#hasMultiLine}}multi-line{{/hasMultiLine }}"
    >
        {{#choiceList }}
        <div>
            <input
                type="checkbox"
                value="{{.}}"
                data-is-tag="{{isChoiceTag}}"
                data-tag="{{choiceTag}}"
                data-namespace="{{choiceNamespace}}"
                data-key="{{choiceKey}}"
            />
            <label>{{.}}</label>
        </div>
        {{/choiceList}}
    </div>
    {{/choiceBlocks}}

    <!-- !loop -->

    <!-- {{#hasBirth}}
    <div class="hasBirth js-date">
        <input
            class="input-text"
            required
            type="text"
            data-is-tag="{{isBirthTag}}"
            date-min="{{birthMin}}"
            date-max="{{birthMax}}"
            placeholder="{{birthPlaceholder}}"
            data-tag="{{birthTag}}"
            data-namespace="{{birthNamespace}}"
            data-key="{{birthKey}}"
        />
        <label>{{birthPlaceholder}}</label>
        <label class="label-error"
            ><i class="fa {{errorIcon}}"></i>{{birthError}}</label
        >
    </div>
    {{/hasBirth}} -->

    <!-- Subscribe newsletter checkbox -->
    {{#hasNewsletter }}
    <div class="hasNewsletter">
        <div>
            <input type="hidden" name="customer[accepts_marketing]" value="" />
            <input type="checkbox" name="customer[accepts_marketing]" />
            {{subscribeNewsletter}}
        </div>
    </div>
    {{/hasNewsletter }}

    <!-- hasDate field -->
    {{#hasDate }}
    <div class="hasDate">
        <input
            required
            type="text"
            class="input-text"
            placeholder="{{datePlaceholder}}"
            data-is-tag="{{isDateTag}}"
            data-dateError="{{dateError}}"
            data-tag="{{dateTag}}"
            data-namespace="{{dateNamespace}}"
            data-key="{{dateKey}}"
        />
        <label>{{datePlaceholder}}</label>
    </div>
    {{/hasDate }}
    <button class="btn btn-primary" disabled="">
        {{registerAccount}} &nbsp;<i class="fa fa-spinner fa-spin off"></i>
    </button>
</form>
<div class="action js-back"><i class="fa fa-arrow-left"></i> Back</div>
