<div class="carousel">
    <div>
        <input
            name="last_name"
            type="text"
            class="input-text"
            placeholder="Votre nom"
        />
        <div>
            <button class="btn btn-primary mt-1" disabled="">Valider</button>
        </div>
        <div class="cursor">1/5</div>
    </div>
    <div style="left: 100%">
        <input name="last_name" type="text" placeholder="Votre Prenome" />
        <div class="account-popup__button">
            <button>Valider</button>
        </div>
        <div class="cursor">2/5</div>
    </div>
    <div style="left: 200%">
        Date de naissance
        <input name="last_name" type="text" placeholder="dd/mm/yyyy" />
        <div class="account-popup__button">
            <button>Valider</button>
        </div>
        <div class="cursor">3/5</div>
    </div>
    <div style="left: 300%">
        <input name="last_name" type="text" placeholder="Votre mot de pass" />
        <div class="account-popup__button">
            <button>Valider</button>
        </div>
        <div class="cursor">4/5</div>
    </div>
</div>
