<!-- Choice List by TAG -->
{{? (it.hasChoice || it.choiceList ) }}
<!-- loop -->
<div
    class="hasChoice choice-block single-choice {{?it.hasMultiLine }}multi-line{{??true}} {{?}}"
>
    {{~it.choiceList :value:index}}
    <div>
        <!-- tag -->
        {{? it.isChoiceTag === "hasTag"}}
        <input
            type="checkbox"
            data-tag="{{=it.choiceTag}}"
            value="{{=value}}"
        />
        {{?? true }}{{?}}
        <!-- metafield -->
        {{? it.isChoiceTag === "hasMetafield"}}
        <input
            type="checkbox"
            data-namespace="{{=it.choiceNamespace}}"
            data-key="{{=it.choiceKey}}"
            value="{{=value}}"
        />
        {{?? true }}{{?}}

        <label>{{=value}}</label>
    </div>
    {{~}}
</div>
{{?? true }}{{?}}

<!-- FirstName field -->
{{? it.hasFirstName }}
<div class="hasFirstName">
    <input
        required
        type="text"
        class="input-text"
        name="customer[first_name]"
        placeholder="{{=it.yourFirstName}}"
    />
    <label>{{=it.yourFirstName}}</label>
</div>
{{?? true }}{{?}}

<!-- LastName field -->
{{? it.hasLastName }}
<div class="hasLastName">
    <input
        required
        type="text"
        class="input-text"
        name="customer[last_name]"
        placeholder="{{=it.yourLastName}}"
    />
    <label>{{=it.yourLastName}}</label>
</div>
{{?? true }}{{?}}

<!-- Telephone field -->
{{? it.hasTelephone }}
<div class="hasTelephone">
    <input
        required
        type="text"
        class="input-text"
        placeholder="{{=it.yourTelephone}}"
        name="address[phone]"
    />
    <label>{{=it.yourTelephone}}</label>
</div>
{{?? true }}{{?}}

<!-- Email field -->
<div class="hasEmail">
    <input
        required
        type="email"
        placeholder="{{=it.yourEmail}}"
        name="customer[email]"
        class="input-text"
    />
    <label>{{=it.yourEmail}}</label>
</div>

<!-- Password field -->
<div class="hasPassword">
    <div class="eye-icon js-show-psw"></div>
    <input
        required
        type="password"
        name="customer[password]"
        class="input-text"
        placeholder="{{=it.yourPassword}}"
    />
    <label>{{=it.yourPassword}}</label>
</div>

<!-- TODO to simplify -->
{{? it.hasBirth }}
<div class="hasBirth js-date">
    <!-- tag -->
    <input class="input-text" required type="text" date-min={{=it.birthMin}}
    date-max={{=it.birthMax}} date-error="{{=it.birthError}}"
    placeholder="{{=it.birthPlaceholder}}" {{? it.isBirthTag === "hasTag"}}
    data-tag="{{=it.birthTag}}" {{?? true }}
    data-namespace="{{=it.birthNamespace}}" data-key="{{=it.birthKey}}" {{?}} />
    <label>{{=it.birthPlaceholder}}</label>
</div>
{{?? true }}{{?}}

<!-- Subscribe newsletter checkbox -->
{{? it.hasNewsletter }}
<div class="hasNewsletter choice-block">
    <div>
        <input type="checkbox" class="input-text" />
        <label>{{=it.subscribeNewsletter}}</label>
    </div>
</div>
{{?? true }}{{?}}

<!-- Create account button -->
<p class="text-center hasSubmit">
    <input
        class="btn btn-primary"
        disabled=""
        type="submit"
        value="{{=it.registerAccount}}"
    />
</p>
