<input type="hidden" name="customer[tags]" value="" />

<input type="hidden" name="form_type" value="create_customer" /><input
    type="hidden"
    name="utf8"
    value="✓"
/>

<!-- Choice List by TAG -->
{{? (it.hasChoice) }}
<!-- loop -->
<div class="choice-block {{?it.hasMultiLine }}multi-line{{??true}} {{?}}">
    {{~it.choiceList :value:index}}
    <div>
        <input type="checkbox" {{? it.isChoiceTag ===
        "hasTag"}}data-tag={{=it.choiceTag}}{{?? true
        }}data-metafield="todo"{{?}} value="{{=value}}" />
        <label>{{=value}}</label>
    </div>
    {{~}}
</div>
{{?? true }}{{?}}

<!-- FirstName field -->
{{? it.hasFirstName }}
<div class="hasFirstName">
    <input
        required
        type="text"
        class="input-text"
        name="customer[first_name]"
        placeholder="{{=it.yourFirstName}}"
    />
    <label>{{=it.yourFirstName}}</label>
</div>
{{?? true }}{{?}}

<!-- LastName field -->
{{? it.hasLastName }}
<div class="hasLastName">
    <input
        required
        type="text"
        class="input-text"
        name="customer[last_name]"
        placeholder="{{=it.yourLastName}}"
    />
    <label>{{=it.yourLastName}}</label>
</div>
{{?? true }}{{?}}

<!-- Telephone field -->
{{? it.hasTelephone }}
<div class="hasTelephone">
    <input
        required
        type="text"
        class="input-text"
        tagOrMetadata="{{=it.telephoneTagOrMetadata}}"
        key="{{=it.telephoneNamespace}}:{{=it.telephoneKey}}"
        placeholder="{{=it.yourTelephone}}"
        name="address[phone]"
    />
    <label>{{=it.yourTelephone}}</label>
</div>
{{?? true }}{{?}}

<!-- Email field -->
<div class="hasEmail">
    <input
        required
        type="email"
        placeholder="{{=it.yourEmail}}"
        name="customer[email]"
        class="input-text"
    />
    <label>{{=it.yourEmail}}</label>
</div>

<!-- Password field -->
<div class="hasPassword">
    <div class="eye-icon js-show-psw"></div>
    <input
        required
        type="password"
        name="customer[password]"
        class="input-text"
        placeholder="{{=it.yourPassword}}"
    />
    <label>{{=it.yourPassword}}</label>
</div>

<!-- Password confirmation field -->
{{? it.hasPasswordConfirmation }}
<div>
    <input
        required
        class="input-text"
        name="confirmPassword"
        placeholder="{{=it.confirmYourPassword}}"
        type="password"
    />
    <label>{{=it.confirmYourPassword}}</label>
</div>
{{?? true }}{{?}}

<!-- TODO to simplify -->
{{? it.hasBirth }}
<div class="birth-date">
    <input required class="input-text" type="text"
    placeholder="{{=it.birthPlaceholder}}" {{? it.isBirthTag ===
    "hasTag"}}data-tag={{=it.birthTag}}{{?? true }}data-metafield="todo"{{?}} />
</div>
{{?? true }}{{?}}

<!-- Create account button -->
<p class="text-center hasSubmit">
    <input
        class="btn btn-primary"
        disabled=""
        type="submit"
        value="{{=it.createAccount}}"
    />
</p>

<!-- Subscribe newsletter checkbox -->
{{? it.hasNewsLetter }}
<div class="checkbox-container hasNewsletter">
    <input
        required
        class="checkbox"
        data-register-newscheck=""
        name="acceptsMarketing"
        type="checkbox"
    />
    <div class="text t-5 uppercase pointer" data-register-newstext="">
        {{=it.subscribeNewsletter}}
    </div>
</div>
{{?? true }}{{?}}
