<img class="image" />
<div class="title">{{=it.login}}</div>
<div class="subtitle">{{=it.enterEmailPswToConnect}}</div>
<div class="js-error">
    <div class="error js-psw-valid">{{=it.passwordTooShort}}</div>
    <div class="error js-psw-wrong">{{=it.incorrectEmailOrPassword}}</div>
</div>

<form
    method="post"
    accept-charset="UTF-8"
    novalidate="novalidate"
    class="inputs-container"
>
    <input
        type="hidden"
        name="checkout_url"
        value="{{=it.redirect.redirectAfterLogin}}"
    />
    <input type="hidden" name="form_type" value="customer_login" /><input
        type="hidden"
        name="utf8"
        value="✓"
    />
    <input
        type="email"
        name="customer[email]"
        autocomplete="email"
        class="input-text"
        placeholder="{{=it.yourEmail}}"
    />

    <input
        type="password"
        value=""
        name="customer[password]"
        class="input-text"
        placeholder="{{=it.yourPassword}}"
    />

    {{? it.hasPasswordRecover }}
    <div class="text-center">
        <p><a href="#recover" id="RecoverPassword">Forgot your password?</a></p>
    </div>
    {{?? true }}{{?}}
    <input
        class="btn btn-primary"
        disabled=""
        type="submit"
        value="{{=it.signIn}}"
    />
</form>
<div class="secondary-action">
    <p>
        {{=it.doYouLostPsw}}
        <a href="/account#recover-password" class="link">{{=it.recoverPsw}}</a>
    </p>
</div>
