<img class="image" />
<div class="title">{{=it.login}}</div>
<div class="subtitle">
    <p>{{=it.enterEmailPswToConnect}}</p>
</div>
<div class="error" data-account-error=""></div>
<div class="error js-error">{{=it.passwordTooShort}}</div>
<form
    method="post"
    id="customer_login"
    accept-charset="UTF-8"
    novalidate="novalidate"
    class="inputs-container"
>
    <input type="hidden" name="form_type" value="customer_login" /><input
        type="hidden"
        name="utf8"
        value="✓"
    />
    <input
        type="email"
        name="customer[email]"
        autocomplete="email"
        class="input-text"
        placeholder="{{=it.yourEmail}}"
    />

    <input
        type="password"
        value=""
        name="customer[password]"
        class="input-text"
        placeholder="{{=it.yourPassword}}"
    />

    {{? it.hasPasswordRecover }}
    <div class="text-center">
        <p><a href="#recover" id="RecoverPassword">Forgot your password?</a></p>
    </div>
    {{?? true }}{{?}}
    <input
        class="btn btn-primary"
        disabled=""
        type="submit"
        value="{{=it.signIn}}"
    />
</form>
<div class="secondary-action">
    {{? it.isPopover }}
    <p>
        {{=it.isNewCustomer}}
        <a href="#" class="link js-create-account">{{=it.createAccount}}</a>
    </p>
    {{?? true }}{{?}}
    <p>
        {{=it.doYouLostPsw}}
        <a href="/account#recover-password" class="link">{{=it.recoverPsw}}</a>
    </p>
</div>
