// Buttons
// I need to refactor it
.btn {
    border: none;
    border: var(--btn-border);
    color: var(--btn-color);
    cursor: pointer;
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight, normal);
    margin: var(--btn-margin);
    padding: var(--btn-padding, 10px);
    // do not change the order of width
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.btn .fa.off {
    display: none;
}

.btn.btn-primary,
.btn.btn-primary:focus {
    background-color: var(--btn-bg-color);
}
.btn.btn-primary:hover {
    background-color: var(--btn-bg-color);
}

.btn:disabled,
.btn[disabled] {
    // background-color: var(--btn-disabled-bg-color);
    opacity: 0.7;
    cursor: not-allowed;
}

.btn-small {
    width: 40%;
    margin: 20px auto;
}

.btn-close .fa {
    -webkit-text-stroke: 5px white;
    font-size: 1.8em;
}

.btn-back {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 1.5em;
    color: var(--ternary-text-color, #0d3c32);
}

.btn-close {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 1.5em;
    color: var(--ternary-text-color, #0d3c32);
}

.btn-recovery {
    cursor: pointer;
    text-align: center;
}
