#login-popup {
    .no-calendar,
    .date-text {
        .input-text {
            display: none;
        }
    }

    .calendar {
        .dropdown-date {
            display: none;
        }
    }
    .dropdown-date {
        display: flex;
        gap: 12px;
    }

    div > .free-date {
        position: absolute;
        width: 100%;
        display: flex;
        gap: 12px;
    }
    div > .free-date label {
        flex: 1;
        position: relative;
        visibility: hidden;
        font-size: 0.8em;
        color: var(--error-color, rgb(208, 26, 26));
        background-color: var(--error-bg-color, rgb(240, 207, 207));
    }

    .dropdown-date {
        > input {
            border: var(--input-line);
            border-bottom: 1px solid #333;
            outline: none;
            font-size: 1em;
            color: #333;
            width: 100%;
            padding: 0px;
        }
        > input::placeholder {
            color: #777;
        }
    }

    .dropdown-date select {
        flex: 1;
        padding: 0 5px;
        font-size: 1.1em;
        border: 0;
        border-bottom: 1px solid #333;
        outline: none;
    }

    .dropdown-date select:nth-child(odd) {
        flex: 0.5;
    }
}
