#login-popup {
    .no-calendar {
        .input-text {
            display: none;
        }
    }
    .calendar {
        .dropdown-date {
            display: none;
        }
    }
    .dropdown-date {
        display: inline-flex;
        width: 100%;
        gap: 12px;
    }

    .dropdown-date select {
        flex: 1;
        padding: 0 5px;
        font-size: 1.1em;
        border: 0;
        border-bottom: 1px solid #333;
        // text-align: center;
        // text-align-last: center;
    }
    // .dropdown-date option {
    //     text-align: left;
    // }
    .dropdown-date select:nth-child(odd) {
        flex: 0.5;
    }
}
