#login-popup {
    .no-calendar,
    .date-text {
        .input-text {
            display: none;
        }
        label {
            position: unset;
            transform: unset !important;
        }
    }

    .calendar {
        .dropdown-date {
            display: none;
        }
    }

    .dropdown-date {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 40px;
        > input {
            border: var(--input-line);
            border-bottom: var(--input-line-bottom, 1px solid #666);
            outline: none;
            font-size: 1em;
            color: #333;
            width: 100%;
            padding: 0px;
            padding: var(--input-padding);
        }
        > input::placeholder {
            color: #777;
        }
    }

    .dropdown-date select {
        flex: 1;
        padding: 0 5px;
        font-size: 1.1em;
        border: 0;
        border-bottom: var(--input-line-bottom, 1px solid #666);
        outline: none;
    }

    .dropdown-date select:nth-child(odd) {
        flex: 0.5;
    }
}
