#login-popup {
    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    form > div {
        margin: 0.8em 0;
        position: relative;
        text-align: left;
    }

    .input-text {
        border: var(--input-line);
        border-bottom: 1px solid #333;
        background-color: unset;
        outline: none;
        font-size: 1em;
        color: #333;
        min-width: 100%;
        padding: var(--input-padding);
    }

    label {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transition: transform 0.3s ease-in-out;
        background-color: var(--content-bg-color, #fff);
        font-size: var(--placeholder-font-size);
        color: var(--placeholder-color);
        text-transform: var(--placeholder-text-transform);
    }

    /* START - GO UP */
    .label-go-up input::placeholder {
        color: transparent;
    }

    /* START - GO UP */
    .label-go-up input::placeholder {
        color: transparent;
    }

    .label-go-up input:focus:not([type="checkbox"]) + label,
    .label-go-up input:not(:placeholder-shown):not([type="checkbox"]) + label {
        transform: translateY(-1em) scale(0.8);
    }
    /* START - GO UP */

    /* START - GO DOWN */
    .label-go-down input::placeholder {
        color: transparent;
    }
    .label-go-down input:focus:not([type="checkbox"]) + label,
    .label-go-down
        input:not(:placeholder-shown):not([type="checkbox"])
        + label {
        transform: translateY(1.2em) scale(0.8);
    }
    .label-go-down input {
        padding-bottom: 15px;
    }
    /* START - GO DOWN */

    .label-fixed :not([type="checkbox"]) + label {
        display: block;
        font-size: 0.8em;
        top: unset;
    }
    .label-fixed input::placeholder {
        color: transparent;
    }

    .label-none label {
        display: none;
    }

    :not([type="checkbox"]) label.label-error {
        color: var(--error-color, rgb(208, 26, 26));
        background-color: var(--error-bg-color, rgb(240, 207, 207));
        padding: 2px;
        display: none;
        width: 100%;
        top: unset;
        font-size: 0.8em;
    }

    label.label-error i {
        margin-right: 3px;
    }

    // CHOICE BLOCK
    .choice-block {
        margin: 0.4em;
    }

    .choice-block > div {
        display: inline-block;
    }

    .choice-block.multi-line > div {
        display: block;
    }

    .choice-block label {
        opacity: 1;
        position: unset;
        display: inline-block;
    }

    .choice-block input {
        min-width: unset;
    }

    .choice-block input[type="checkbox"] {
        background-color: white;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    .choice-block input[type="checkbox"]:checked {
        background-color: gray;
    }

    .choice-block.single-choice input[type="checkbox"] {
        border-radius: 50%;
        padding: 0.7em;
    }

    .choice-block.multi-choice input[type="checkbox"] {
        border-radius: 25%;
    }
}
