// .form-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     flex-direction: column;
//     gap: 4em;
// }

form > div {
    margin: 1.2em 0;
    position: relative;
}
input {
    border: none;
    border-bottom: 2px solid #333;
    background-color: unset;
    outline: none;
    font-family: "Poppins";
    font-size: 1em;
    color: #333;
    min-width: 100%;
}

label {
    z-index: 0; //-1
}

label {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    color: #333;
    transform-origin: 0 0;
    transition: transform 0.3s ease-in-out;
}

/* START - GO UP */
.label-go-up input::placeholder {
    color: transparent;
}
.label-go-up input:focus + label,
.label-go-up input:not(:placeholder-shown) + label {
    transform: translateY(-1em) scale(0.8);
}
/* START - GO UP */

/* START - GO DOWN */
.label-go-down input::placeholder {
    color: transparent;
}
.label-go-down input:focus + label,
.label-go-down input:not(:placeholder-shown) + label {
    transform: translateY(1.2em) scale(0.8);
}
form.label-go-down input {
    padding-bottom: 15px;
}
/* START - GO DOWN */

/* START - GO RIGHT */
form.label-go-right > div {
    overflow: hidden;
}
form.label-go-right input {
    padding: 8px 0;
}
.label-go-right input + label {
    transition: color 0.4s, right 0.4s, left 0.4s;
    position: absolute;
    opacity: 0.5;
    left: unset;
    right: 100%;
    width: 100%;
    margin-right: -100%;
}
.label-go-right input:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding: 5px;
    background: #111;
    color: white;
    font-size: 70%;
    height: 100%;
    z-index: 1;
    text-transform: uppercase;
    opacity: 0.8;
}

.label-go-right input:valid {
    background: white;
}
/* END - GO RIGHT */

.label-fixed label {
    display: block;
    font-size: 0.8em;
    top: unset;
}
.label-fixed input::placeholder {
    color: transparent;
}

.label-none label {
    display: none;
}
// ::placeholder {
//     background-color: var(--content-bg-color);
//     font-size: var(--placeholder-font-size);
//     color: var(--placeholder-color);
//     text-transform: var(--placeholder-text-transform);
// }

// .input-text {
//     box-sizing: border-box;
//     border: var(--input-line);
//     padding: var(--input-padding);
//     outline: none;
//     border-bottom: 1px solid;
//     // font: 400 13.3333px Arial;
//     margin-bottom: var(--text-input-margin);
//     width: 100%;
// }
