/*  ===================
    Table of contents

        - Global styles
        - Theme/Typography
        - Components
        - Partials

    =================== */

/*  ===================
    1. Global styles
    =================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*  ===================
    Theme/Typography
    =================== */

.container {
    align-items: center;
    background: linear-gradient(
            var(--container-bg-color) 100%,
            var(--container-bg-color) 100%
        ),
        var(--container-bg-image) center / cover;
    background-size: cover;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70%; /* to host the dashboard, otherwise 100% */
    z-index: 99;
}

.content {
    color: var(--primary-text-color);
    background-color: var(--content-bg-color);
    border-radius: var(--container-border-radius);
    padding: var(--content-padding);
    position: relative;
    max-width: var(--content-width);
}

.error {
    background-color: var(--error-bg-color);
    border-radius: 3px;
    color: var(--error-text-color);
    display: none;
    margin: 10px 0;
    padding: 5px;
}

/*  ===================
    Components
    =================== */

// Header Image
.image {
    content: var(--image-url);
    padding: var(--image-padding);
    width: var(--image-size);
}

// Title
.title {
    font-family: var(--large-font-family);
    font-size: var(--large-font-size);
    font-weight: var(--large-font-weight);
    letter-spacing: var(--large-letter-spacing);
    line-height: var(--large-line-height);
    text-transform: var(--large-text-transform);
}

// Sub-title
.sub-title {
    // margin: 18px 0;
    font-size: var(--medium-text-size);
    font-weight: var(--medium-font-weight);
}

// Placeholder
::placeholder {
    background-color: var(--content-bg-color);
    font-size: var(--placeholder-font-size);
    color: var(--placeholder-color);
    text-transform: var(--placeholder-text-transform);
}

// Buttons
// I need to refactor it
.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}

.btn.btn-primary {
    background-color: var(--btn-bg-color);
}

.btn:disabled,
.btn[disabled] {
    background-color: var(--btn-disabled-bg-color);
    opacity: var(--btn-disabled-opacity);
}

.btn-small {
    width: 40%;
    margin: 20px auto;
}

.btn-close {
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    right: 14px;
    top: 0;
    transform: rotate(45deg);
}

// 4.1 checkbox
.checkbox {
    margin-right: 10px;
}

.checkbox-container {
    align-items: center;
    display: flex;
    margin-top: 14px;
}

// 4.1 input fields
.mandatory-container {
    margin-top: 10px;
}

.inputs-container {
    margin-bottom: 10px;
}

.input-text {
    border: none;
    outline: none;
    border-bottom: 1px solid;
    font: 400 13.3333px Arial;
    margin-bottom: var(--text-input-margin);
    padding-left: 2px;
    width: 100%;
}

.input-text-secondary {
    display: inline;
    width: 75%;
}

/*  ===================
    Partials
    =================== */

.or-social-login {
    margin: 15px 0;
}

.landing_image {
    // content: var(--image);
    // width: var(--image-width);
}

// gender module for Respire theme
.gender {
    margin: 20px 0;
    text-align: left;
}

// birth-date module for Respire theme
.birth-date {
    align-items: center;
    display: flex;
    .birth-date-text {
        min-width: 40%;
    }
}

// social login module for Balzac theme
.fb {
    background-color: #3b5998;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

.mt-1 {
    margin-top: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}
/*  ===================
    3. Pages
    =================== */

/*  ===================
    3. Modules
    =================== */
