body.remove-scrolling {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#login-popup > div {
    text-align: center;
    z-index: 99;
    position: absolute;
    animation: var(--animation) 1.5s;
}

.content {
    align-items: center;
    background-color: var(--content-bg-color, #fff);
    border-radius: var(--container-border-radius);
    color: var(--primary-text-color);
    justify-content: var(--content-vertical-alignment);
    max-height: 100vh;
    min-height: 28%;
    overflow-y: auto;
    padding: var(--content-padding, 0px);
    position: relative;
}

.content .partials {
    max-height: 0;
    overflow: hidden;
    font-family: var(--font-family, sans-serif);
    width: var(--form-width, auto);
}
.content .partials.partials-show {
    max-height: 900px;
    transition: max-height 0.8s;
}

/*  ===================
    Components
    =================== */

// Header Image
.header-img {
    content: var(--header-img);
    max-width: var(--img-max-width, 200px);
    padding-top: 15px;
}

// Title
.title {
    font-size: var(--large-font-size);
    font-weight: var(--title-font-weight);
    letter-spacing: var(--large-letter-spacing);
    line-height: 50px;
    color: var(--primary-text-color);
}

// Sub-title
.sub-title {
    font-size: var(--medium-text-size);
    font-weight: var(--medium-font-weight);
    color: var(--secondary-text-color, #02100a);
    padding: 0px 30px;
}

// 4.1 checkbox
.checkbox {
    margin-right: 10px;
    min-width: unset;
}

.checkbox-container {
    align-items: center;
    display: flex;
    margin-top: 14px;
}

// 4.1 input fields
.mandatory-container {
    margin-top: 10px;
}

/*  ===================
    Icons
    =================== */

i.gg-eye {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

i.gg-eye-alt {
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
