/* THE BASE */
.bar {
    margin: 1vw;
    width: 0px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    visibility: hidden;
    font-size: 1.2em;
}
.bar-show {
    transition-duration: 1000ms;
    transition-property: width;
    width: 94vw;
    visibility: visible;
    display: flex;
}

.bar-show > div {
    padding: 10px;
    align-items: center;
    display: flex;
}

div.message {
    flex-grow: 1;
}

div.close {
    color: #888;
    cursor: pointer;
    font-size: 1.3em;
}

/* THE VARIATIONS */
.info {
    background: #c9ddff;
    border: 1px solid #4c699b;
    color: #204a8e;
}
.success {
    background: #ecffd6;
    border: 1px solid #617c42;
    color: #2b7515;
}
.warn {
    background: #fffbd1;
    border: 1px solid #87803e;
    color: #756e15;
}
.error {
    background: #ffe0e0;
    border: 1px solid #a33a3a;
    color: #ba3939;
}

/* ICONS */
i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-style: normal;
}

.info i {
    background: #6598ea;
    color: #fff;
}

.warn i {
    background: #9e9c7a;
    color: #fff;
}
