.account-entry-props {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style: none;
    padding: 20px 0;

    .Polaris-Icon {
        height: 30px;
    }
    
    .Polaris-Icon--colorWarning svg {
        fill: salmon;
        transform: scale(2);
    }

    img {
        margin-bottom: 12px;
        height: 50px;
        width: 50px;
    }

    span {
        display: block;
        margin: 0 auto;
        font-size: 12px;
    }
}
